body{
	background-color: black;
	font-family: arial;
	text-align: center;
	color: white;
	margin-left: 15%;
	margin-right: 15%;
}


.bio {
	border-radius: 15px;

}


.contenu {
	display: inline-flex;
	padding-top: 20px;
}

.lien{
	display: flex;
	margin-left: 38px;

}

.lien a:hover{
	color: yellow;
}

h1 {
  text-align: center;
  color: yellow;
}

p {
	text-align: justify;
	 
}

.official{
	text-align: center;
	padding: 20px;
	display: block;
	margin: auto;
	font-size: 20px; 
	color: white;
}


.inspiration {
	display: flex;
	margin-bottom: 50px;
	
}
.inspiration div{
	padding: 20px;
}

.box1 {
flex: 1;
}
.box2 {
	flex: 1;	
}
.box3 {
	flex: 1;

}

.clip{
	display: flex;
	margin-left: 520px;
	margin-top: 10px;
	padding-bottom:10px;
}

.clip h3{
	color: yellow;
}

.galerie {
	display: flex;
	justify-content: space-around;
	padding-bottom: 50px;
	padding-top: 20px;
}

.wtj p{
	text-align: center;
	color: yellow;

}


.sweet p {
	text-align: center;
	color: yellow;
}

.sweet img{
	padding-top: 5px;

}

.bemine img{
	height: 180px;
	padding-top: 10px;

}

.bemine p{
	text-align: center;
	color: yellow;
}

a:link{
	text-decoration: none;
}


 .navbar ul{
	 list-style-type: none;
	 display: flex;
	 margin-left:350px;
	 
 }

 .navbar li a{
    color: white;
	text-align: center;
	padding: 10px;
 }

 .navbar li{
	flex: left;
 }

 
.navbar a:hover{
	color: yellow;
}





 



